wget==3.2
coverage==7.0.5
tqdm==4.43.0
fire==0.2.1

# https://pillow.readthedocs.io/en/stable/releasenotes/index.html
Pillow==9.4.0

# https://numpy.org/devdocs/release.html
numpy==1.24.1

# https://scikit-learn.org/stable/whats_new.html
# Requires: numpy (and scipy)
scikit-learn==1.1.3

torch==1.8.0
torchvision==0.9.0
boto3==1.23.10
